:root {
  --primary: grey;
  --secondary: rgb(131, 11, 11);
}

* {
  background-color: rgb(201, 196, 196);
  color: white;
  text-align: center;
  font-size: 27px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*header*/
header {
  padding: 5px 5px;
}

header h1 {
  padding: 5px 1% 5px 3%;
  font-size: 2vw;
}
/*navigation*/
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: linear-gradient(
    270deg,
    var(--primary) 0%,
    var(--primary) 100%
  );
  background-position: bottom;
  transition: all 0.35s ease-in;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  font-size: 90%;
  margin-left: 100px;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--secondary);
}

nav a:last-child {
  margin-right: 0;
}

/*column for results*/
#hero-contatiner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}

#watch-section {
  background-color: var(--primary);
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#read-section {
  background-color: var(--primary);
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/*button*/
.btn {
  color: var(--secondary);
  background-color: cornsilk;
  font-size: 25px;
}

.btn:hover {
  background-color: var(--secondary);
  color: cornsilk;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 2%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 2%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 2%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 2%);
}
